In [1]:
###Mandatory Project

In [1]:
#Ques1 #find common names in both lists#
list1=['Ramesh','Suresh','Mukesh', 'Ali','Jacob','Saritha']
list2= ['Ali', 'Mukesh','Mahesh', 'Jacob', 'Sai', 'Saritha']
for i in list1:
    for j in list2:
        if i==j:
            print('common names=',i)

common names= Mukesh
common names= Ali
common names= Jacob
common names= Saritha

In [25]:
#Ques2#While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. 
#Please write a program which separates all the names and convert them into a list. 
    #Once converted in a list, please write a program which adds their age#
str='Ramesh Suresh Mohit'
Names=str.split()
print(L)
Age=[25,22,26]
zipped= dict(zip(Names,Age))
print(zipped)

['Ramesh', 'Suresh', 'Mohit']
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [14]:
#program3#
marks_python=[25,26,29,28]
len_python=len(marks_python)
sum_python=sum(marks_python)
mean=sum_python/len_python
print('mean marks of python are=',mean)

mean marks of python are= 27.0

In [4]:
marks_stats=[23,21,19,25]
len_stats=len(marks_stats)
sum_stats=sum(marks_stats)
mean=sum_stats/len_stats
print('mean marks of stats are=',mean)

mean marks of stats are= 22.0

In [6]:
marks_sql=[29,27,28,25]
len_sql=len(marks_sql)
sum_sql=sum(marks_sql)
mean=sum_sql/len_sql
print('mean marks of sql are=',mean)

mean marks of sql are= 27.25

In [1]:
#Ques4#
a=cost_of_para=2*35
b=cost_of_azith=3*49
c=cost_of_vita=5*33
d=total_cost=a+b+c
z=2000
print('cost_of_para is=', a)
print('cost_of_azith is=',b)
print('cost_of_vita is=',c)
print('total_cost is=',d)
A=A_ref=(z-d)
print('A_ref is=', A)

cost_of_para is= 70
cost_of_azith is= 147
cost_of_vita is= 165
total_cost is= 382
A_ref is= 1618

In [1]:
#Ques5#
def count_vowels():
    string=input("Enter string:")
    vowels=0
    for i in string:
        if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
    print("Number of vowels are:")
    print(vowels)
count_vowels()

Enter string:ravi
Number of vowels are:
2

In [13]:
#ques6#
name=input('enter your name: ')
age=int(input('enter your age: '))
y=int(18-age)
if age>=18:
    print('Congrates! You are eligible to vote')
if age<18:
    print('Return after years',y)

enter your name: hari
enter your age: 17
Return after years 1